h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
}

#header {
    width: 80%;
    margin: auto;
    background: #006ba6;
    text-align: center;
    padding-bottom: 200px;
    font-size: 20px;
}

.container {
    margin: auto;
    display: inline-block;
    padding: 0 400px 500px 400px;
    width: 500px;
    
}

#generate {
    padding: 10px 30px 10px 30px;
    background: red;
    color: white;
    border-radius: 30px;
    
}

#copy {
    padding: 10px 30px 10px 30px;
    background: grey;
    color: white;
    border-radius: 30px;
}

#password {
    border-style: dashed;
}


textarea {
    padding: 50px 100px 50px 100px;
}

.display-4 {
    font-size: 20px;
    line-height: 0;
}

.col-md-03 {
    display: inline-block;
}

@media screen and (max-width: 98px) {
    .jumbotron {
        background: white;
        margin-top: 10px;
        text-align: center;
    }
    }

    @media screen and (max-width: 768px) {
        .jumbotron {
            background: white;
            margin-top: 10px;
            text-align: center;
        }
        }

    @media screen and (max-width: 600px) {
    .jumbotron {
    background: white;
    margin-top: 10px;
    text-align: center;
}
}

.main-section {
    display: inline-block;
}