h1 {
    text-align: center;
    margin-bottom: 10px;
}

#header {
    width: 80%;
    margin: auto;
    background: lightgrey;
    text-align: center;
}

.container {
    margin: auto;
    display: inline-block;
    
}